/*
TODO(you): Write any additional styles you need here.
*/
#music{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#gifarea{
    flex-grow: 1;
    background-color: gray;
    position: relative;
    overflow: hidden;
}

.gif{
    display: flex;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.gif#back{
    z-index:2;
}

/*.gif.inactive{
    display: none;
}*/

#ctrlbar{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#ctrlbar #playbutton{
    width: 60px;
    height: 60px;
    background-image:url('./images/play.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#ctrlbar #playbutton.pause{
    background-image:url('./images/pause.png');
}